﻿@model MyFirstWebApp.Models.FileModel
@{
    var result = "";
    string userData = null;

    if (Model != null)
    {
        userData = Model.Text;
        if (userData == "")
        {
            // Empty file.
            result = "The file is empty.";
        }
        else
        {
            userData = Model.Text;
        }
    }
    else
    {
        // File does not exist.
        result = "The file does not exist.";
    }
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
</head>
<body>
    <div>
        <h3>Полученный текст</h3>
        @result
        @if (result == "")
        {
            @userData
        }
    </div>
    <br>
    <form form action="SaveFile" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend>Сохранение файла на сервере с возможностью выбора директории</legend>
            <p>
                Директория: <input name="directory">
                Имя файла: <input name="name">
                <select size="1" name="format">
                    <option value=".docx">.docx</option>
                    <option selected value=".txt">.txt</option>
                </select>
            </p>
            <p><input type="submit" value="Сохранить"></p>
        </fieldset>
    </form>
    <br>
    <form form action="GetFile" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend>Загрузить файл клиенту без возможности выбора директории (по соображениям безопасности)</legend>
            <p>
                Имя файла: <input name="name">
                <select size="1" name="format">
                    <option value=".docx">.docx</option>
                    <option selected value=".txt">.txt</option>
                </select>
            </p>
            <p><input type="submit" value="Сохранить"></p>
        </fieldset>
    </form>
    <form action="/Home/StartMenu" method="post">
        <p><button>Вернуться в стартовое меню</button></p>
    </form>
    <br>
    <div>
        @Model.Exception
    </div>
</body>
</html>



