﻿@page
@model MyFirstWebApp.Views.Home.ChipherChoiseModel
@{
    MyFirstWebApp.Models.FileModel.ID = 1;
}
    <html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h3>Вы хотите загрузить файл или вы напечатаете текст для шифрования?</h3>
        <br>
        <form action="/Home/Index" method="post">
            <p><button>Загрузить текст из файла</button></p>
        </form>
        <form action="/Home/TextFromScreen" method="post">
            <p><button>Напечатать текст</button></p>
        </form>
    </body>
    </html>