﻿@model MyFirstWebApp.Models.FileModel
@{ 
    string userData = "";
    if (Model!=null)
    {
        userData = Model.Exception;
    }
}
<h2>@userData</h2>
<h3>Выберите файл для загрузки</h3>
<form action="/Home/AddFileandKey" method="post" enctype="multipart/form-data">
    <input type="file" name="uploadedFile" accept="text/plain, application/vnd.openxmlformats-officedocument.wordprocessingml.document"><br>

    <h3>Введите ключ</h3>
    <input type="text" name="key" /><br>
    <br>
    <input type="submit" value="Загрузить данные" />
</form>
