﻿@page
@model MyFirstWebApp.Views.Home.StartMenuModel
@{
    MyFirstWebApp.Models.FileModel.ID = 0;
}
    <html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h3>Стартовое меню</h3>
        <br>
        <h3>Курсовой проект способен осуществлять шифровку (с использованием шифра Виженера) и дешифровку информации. </h3>
        <h3>Шифровка/дешифровка применяется только к буквам кириллицы нижнего регистра, содержащимся в тексте. </h3>
        <h3>Ключ должен содержать только буквы кириллицы. </h3>
        <h3>Полученную информацию можно сохранить. </h3>
        <br>
        <h3>Выберите желаемое действие: </h3>
        <form action="/Home/Index" method="post">
            <p><button>Дешифровать текст</button></p>
        </form>
        <form action="/Home/ChipherChoise" method="post">
            <p><button>Зашифровать текст</button></p>
        </form>
    </body>
    </html>