﻿@model MyFirstWebApp.Models.FileModel
@{
    string useData = "";
    if (Model != null)
    {
        useData=Model.Exception;
    }
}
<form action="/Home/AddText" method="post">
    <p><b>@useData</b></p>
    <p><b>Введите ваш текст:</b></p>
    <p><textarea rows="10" cols="80" name="text"></textarea></p>
    <br>
    <h3>Введите ключ</h3>
    <input type="text" name="key" /><br>
    <br>
    <input type="submit" value="Загрузить данные" />
</form>
